

*{
    padding: 0;
    margin: 0;
}
#nav{
    height: 60px;
    background-color:  #0f1110;
    font-size: 25px;

}
#log{
    color:#ff8804;
    margin-right: 200px;
    text-decoration: none;


    

}
#account{
    color: white;
    margin-right: 200px;
     text-decoration: none;



}
#mycart{
        color: white;
        margin-right: 200px;
        text-decoration: none;




}
#contact{
        color: white;
        margin-right: 200px;
        text-decoration: none;



    
}
button{
    background-color: #f08804;
     margin-right: 200px;
    
}
#content{
    height: 900px;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    
}
#box1{
    background-color:rgb(255,99,87,0.5);
}
#box2{
    background-color:rgb(255,255,87,0.5);
}
#box3{
    background-color:rgb(255,99,255,0.5);
}
footer{
    background-color: #0f1110;
    color: white;
    text-align: center;

}